<div class="row">
    <div class="col-md-12 col-md-offset-3">

        <form [formGroup]="personalDetails" id="msform">

            <!-- progressbar -->
            <ul id="progressbar">
                <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Personal Details</li>
                <li [ngClass]="step>=2 ? 'active' : 'inactive'">Business Specifics (Individual)</li>
                <li [ngClass]="step==3 ? 'active' : 'inactive'">Business Specifics (Group/Organization)</li>
            </ul>
            <!-- fieldsets -->


            <fieldset  *ngIf="step == 1">
                <h2 class="fs-title">Personal Details</h2>
                <input type="text" formControlName="fullName" placeholder="Full Names" class="form-control" [ngClass]="{'is-invalid': personal_step && personal['fullName'].errors }" placeholder="Full Name"/>
                <div *ngIf="personal_step && personalDetails.controls['fullName'].errors">
                    <div *ngIf="personal['fullName'].errors?.['required']">Full Name is required</div>
                </div>

                <!-- <div class="text-danger" *ngIf="personalDetails.controls['fullName].invalid && (personalDetails.controls['fullName'].touched||personalDetails.controls['fullName'].dirty)">
                <div *ngIf="personalDetails.controls['fullName'].errors?.['required']"> Full Name Required </div>
                <div *ngIf="personalDetails['fullName"].errors?.['minlength']"> Minimum 5 characters required </div>
                 -->

                <input type="number" class="form-control" formControlName="identificationNumber" placeholder="Identification Number" />
                <div *ngIf="personal_step && personalDetails.controls['identificationNumber'].errors">
                    <div *ngIf="personal['identificationNumber'].errors?.['required']">ID Number is required</div>
                </div>
                <div class="gender">
                    <h4 class="radio-button-title">Gender</h4>
                    <mat-radio-group class="form-control" formControlName="gender" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-radio-button value="other">Other</mat-radio-button>
                    </mat-radio-group>
            
                    <div class="matFormInput" *ngIf="personalDetails.get('gender')?.value === 'other'">
                        <input class="form-control" formControlName="other_gender"  placeholder="">
                    </div>
                </div>
            
            
                <div class="disability-status">
                    <h4 class="radio-button-title">Disability Status</h4>
                    <mat-radio-group  class="form-control" formControlName="disabilityStatus" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            
                <input type="email" class="form-control" formControlName="email" placeholder="Email" />
                <div *ngIf="personal_step && personalDetails.controls['email'].errors">
                    <div *ngIf="personal['email'].errors?.['required']">Email is required</div>
                    <div *ngIf="personal['email'].errors?.['email']">Email is invalid</div>
                </div>

                <input type="number" class="form-control" formControlName="phoneNumber" placeholder="Phone Number" />
                <div *ngIf="personal_step && personalDetails.controls['phoneNumber'].errors">
                    <div *ngIf="personal['phoneNumber'].errors?.['required']">Phone Number is required</div>
                    <div *ngIf="personal['phoneNumber'].errors?.['pattern']">Phone Number is invalid</div>
                    </div>
            
                <div class="photo-upload">
                    <h4 class="fs-subtitle radio-button-title">Upload your passport photo</h4>
                    <input class="form-control" formControlName="passportPhoto" class="file-upload" type="file">
            
                    <h4 class="fs-subtitle radio-button-title">Upload a copy of your National ID</h4>
                    <input class="form-control" formControlName="nationalIDPhoto" class="file-upload" type="file">
                </div>


                <input (click)="next()" type="button" name="next" class="next action-button" value="Next"/> 


            </fieldset>
            </form>


        <form [formGroup]="businessIndivual" id="msform">

            <!-- fieldsets -->
            <fieldset  *ngIf="step == 2">
                <h2 class="fs-title">Business Specifics (Individual)</h2>
                <!-- <h4 class="fs-subtitle radio-button-title">What is your Business Name</h4> -->
                <input type="text" class="form-control" formControlName="businessName" placeholder="Business Name">
            
                <div class="businessRegisteration">
                    <h4 class="fs-subtitle radio-button-title">Is your business registered</h4>
                    <mat-radio-group  class="form-control" formControlName="isbusinessRegistered" class="radio-group-options"
                        aria-label="Select an option">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                

        
            
                <div class="registerationCertificate"  *ngIf="businessIndivual.get('isbusinessRegistered')?.value === 'yes'">
                    <h4 class="fs-subtitle radio-button-title">If yes attach the certificate of registration</h4>
                    <input class="form-control" formControlName="registrationCertificate" class="file-upload" type="file">
                    </div>

                <div class="explainwhy" *ngIf="businessIndivual.get('isbusinessRegistered')?.value === 'no'" >
                    <h4 class="fs-subtitle radio-button-title">If no explain why</h4>
                    <input class="form-control" formControlName="explainWhy" type="text" placeholder="">
                </div>
            
                <div class="businessLocation">
                    <h4 class="fs-subtitle radio-button-title">What is your Business Location?</h4>


                    <!-- <input formControlName="subcounty" type="text" placeholder="Sub County">
                    <input formControlName="ward" type="text" placeholder="Ward"> -->
                    <ng-select class="form-control" formControlName="subcounty" [items]="SubCountiesList" bindLabel="label" bindValue="value" placeholder="Select your SubCounty"></ng-select>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Dagoretti North'">
                      <ng-select class="form-control" formControlName="ward" [items]="DagorettiNorthWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Dagoretti South'">
                      <ng-select class="form-control" formControlName="ward" [items]="DagorettiSouthWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Kibra'">
                      <ng-select  class="form-control" formControlName="ward" [items]="KibraWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Langata'">
                      <ng-select class="form-control" formControlName="ward" [items]="LangataWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Westlands'">
                      <ng-select class="form-control" class="form-control" formControlName="ward" [items]="WestlandsWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Roysambu'">
                      <ng-select class="form-control" formControlName="ward" [items]="RoysambuWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Kasarani'">
                      <ng-select class="form-control" formControlName="ward" [items]="KasaraniWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Ruaraka'">
                      <ng-select class="form-control" formControlName="ward" [items]="RuarakaWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Embakasi South'">
                      <ng-select class="form-control" formControlName="ward" [items]="EmbakasiSouthWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Embakasi North'">
                      <ng-select class="form-control" formControlName="ward" [items]="EmbakasiNorthWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Embakasi Central'">
                      <ng-select class="form-control" formControlName="ward" [items]="EmbakasiCentralWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Embakasi East'">
                      <ng-select class="form-control" formControlName="ward" [items]="EmbakasiEastWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Embakasi West'">
                      <ng-select class="form-control" formControlName="ward" [items]="EmbakasiWestWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Makadara'">
                      <ng-select class="form-control" formControlName="ward" [items]="MakadaraWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>


                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Kamukunji'">
                      <ng-select class="form-control" formControlName="ward" [items]="KamukunjiWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Starehe'">
                      <ng-select class="form-control" formControlName="ward" [items]="StareheWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <div *ngIf="businessIndivual.controls['subcounty'].value==='Mathare'">
                      <ng-select class="form-control" formControlName="ward" [items]="MathareWardsList" bindLabel="label" bindValue="value" placeholder="Select your Ward"></ng-select>
                    </div>

                    <input class="form-control" formControlName="building" type="text" placeholder="Building">
                    <input class="form-control" formControlName="street" type="text" placeholder="Street">
                    <input class="form-control" formControlName="landmark" type="text" placeholder="Landmark">
                </div>
            
                <div class="businessSector">
                    <h4 class="fs-subtitle radio-button-title">Sector of the business</h4>
                    <mat-radio-group formControlName="businessSector" class="form-control" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="retail">Retail</mat-radio-button>
                        <mat-radio-button value="wholesale">Wholesale</mat-radio-button>
                        <mat-radio-button value="service">Service</mat-radio-button>
                        <mat-radio-button value="juakali">Juakali/cottage</mat-radio-button>
                    </mat-radio-group>
                    <div class="specifyBusiness" >
                        <h4 class="fs-subtitle radio-button-title">What is the nature of the business (Specify)?</h4>
                        <input class="form-control" formControlName="natureofBusiness" type="text" placeholder="">
                    </div>
                    
                </div>
            
                <div class="employees">
                    <h4 class="fs-subtitle radio-button-title">Number of employees</h4>
                    <mat-radio-group class="form-control" formControlName="numbofEmployees" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="1-10">1-10</mat-radio-button>
                        <mat-radio-button value="11-50">11-50</mat-radio-button>
                    </mat-radio-group>
                </div>
            
                <div class="businessOperation">
                    <h4 class="fs-subtitle radio-button-title">How long has your business been in operation?</h4>
                    <mat-form-field class="matFormField">
                        <mat-label>Choose</mat-label>
                        <mat-select class="form-control" formControlName="lengthofOperations">
                            <mat-option value="0-6 Months">0-6 Months</mat-option>
                            <mat-option value="6-12 Months">6-12 Months</mat-option>
                            <mat-option value="1-2 Years">1-2 Years</mat-option>
                            <mat-option value="2-3 Years">2-3 Years</mat-option>
                            <mat-option value="3 Years and Above">3 Years and Above</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            
                <div class="businessChallenges">
                        <div class="challenges" >
                            <h4 class="fs-subtitle radio-button-title">What are the primary challenges your business currently
                                faces?</h4>
                            <mat-radio-group class="form-control" formControlName="challenges" class="radio-group-options" aria-label="Select an option">
                                <mat-radio-button value="Inadequate access to affordable capital">Inadequate access to affordable capital</mat-radio-button>
                                <mat-radio-button value="Limited market access">Limited market access</mat-radio-button>
                                <mat-radio-button value="Inadequate business/ entrepreneur skills">Inadequate business/ entrepreneur skills</mat-radio-button>
                                <mat-radio-button value="other">Other</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    <div class="inputChallenges"  *ngIf="businessIndivual.get('challenges')?.value === 'other'">
                        <input class="matFormInput" formControlName="otherChallenges" type="text">
                    </div>
                </div>
            
            
            
                <div class="biasharaStimulusProgramme">
                    <h4 class="fs-subtitle radio-button-title">Are you aware of Nairobi City County Biashara Stimulus
                        Program?</h4>
                    <mat-radio-group class="form-control" formControlName="awareofProgram" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            
                <div class="sourceOfCapital">
                    <h4 class="fs-subtitle radio-button-title">What is your source of capital?</h4>
                    <mat-radio-group class="form-control" formControlName="sourceofCapital" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="Own savings">Own savings</mat-radio-button>
                        <mat-radio-button value="Family/Friend support">Family/Friend support</mat-radio-button>
                        <mat-radio-button value="Chama">Chama</mat-radio-button>
                        <mat-radio-button value="Loan">Loan</mat-radio-button>
                    </mat-radio-group>
                </div>
            
                <div class="capitalAdequate">
                    <h4 class="fs-subtitle radio-button-title">Is the capital adequate for expansion for your business?
                    </h4>
                    <mat-radio-group class="form-control" formControlName="capitalisAdequate" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            
                <div class="marketProducts">
                    <h4 class="fs-subtitle radio-button-title">How do you market your products?</h4>
                    <mat-radio-group class="form-control" formControlName="marketingProducts" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="virtual">Virtual</mat-radio-button>
                        <mat-radio-button value="physical">Physical</mat-radio-button>
                        <mat-radio-button value="both">Both</mat-radio-button>
                    </mat-radio-group>
                </div>
            
                <div class="targetMarkets">
                    <h4 class="fs-subtitle radio-button-title">What are your target markets?</h4>
                    <mat-radio-group class="form-control" formControlName="targetMarket" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="local">Local</mat-radio-button>
                        <mat-radio-button value="international">International</mat-radio-button>
                    </mat-radio-group>
                </div>
            
                <div class="tradeExhibition">
                    <h4 class="fs-subtitle radio-button-title">Have you participated in any trade fair/exhibition?</h4>
                    <mat-radio-group class="form-control" formControlName="participatedintradefair" class="radio-group-options"
                        aria-label="Select an option">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>

                    <div class="participated" *ngIf="businessIndivual.get('participatedintradefair')?.value === 'yes'">
                        <h4 class="fs-subtitle radio-button-title">If yes:</h4>
                        <mat-radio-group class="form-control" formControlName="tradefairParticipation" class="radio-group-options"
                            aria-label="Select an option">
                            <mat-radio-button value="self-sponsored">Self-sponsored</mat-radio-button>
                            <mat-radio-button value="sponsored">Sponsored</mat-radio-button>
                        </mat-radio-group>
                    </div>
                   
                </div>
            
                <div class="capacityBuildingTraining">
                    <h4 class="fs-subtitle radio-button-title">Have you participated in any capacity building training?</h4>
                    <mat-radio-group  class="form-control" formControlName="capacityBuildingTraining" class="radio-group-options"
                        aria-label="Select an option">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>

                    <div class="capacitybuilding" *ngIf="businessIndivual.get('capacityBuildingTraining')?.value === 'yes'" >
                        <h4 class="fs-subtitle radio-button-title">If yes:</h4>
                        <mat-radio-group class="form-control" formControlName="capacityTrainingParticipation" class="radio-group-options"
                            aria-label="Select an option">
                            <mat-radio-button value="self-sponsored">Self-sponsored</mat-radio-button>
                            <mat-radio-button value="sponsored">Sponsored</mat-radio-button>
                        </mat-radio-group>
                    </div>
                   
                </div>
            
                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input  (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
            
            </fieldset>
            </form>



        <form [formGroup]="businessGroup" id="msform">
            <fieldset  *ngIf="step == 3">
                <h2 class="fs-title">Business Specifics (Group/Organization)</h2>

                <div class="organization">
                    <h4 class="fs-subtitle radio-button-title">Are you in any registered common interest group/organization?</h4>
                    <mat-radio-group formControlName="isGroupRegistered" class="radio-group-options" aria-label="Select an option">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>

                    <input formControlName="groupName" type="text" placeholder="Group/Organization name">
                    <input formControlName="year_registered" type="text" placeholder="Year of registration">
                    <input formControlName="chairpersonsContact" type="number" placeholder="Chairperson’s Contact Number">
                    <input formControlName="numberofGroupmemb" type="number" placeholder="Number of group members">

                    <div>
                        <h4 class="fs-subtitle radio-button-title">Upload the list of the members</h4>
                        <input formControlName="listOfGroupmembers" type="file" class="file-upload"> 
                    </div>

                    <div>
                        <h4 class="fs-subtitle radio-button-title">Attach Group Constitution</h4>
                        <input formControlName="groupConsitution" type="file" class="file-upload">
                    </div>

                    <div>
                        <h4 class="fs-subtitle radio-button-title">Attach Certificate of registration</h4>
                        <input formControlName="groupRegCert" type="file" class="file-upload">
                    </div>
                </div>

                <div class="businessActivities">
                    <h4 class="fs-subtitle radio-button-title">Group activity/Nature of business activities of the group members</h4>
                 <div class="GroupActivities checkboxContainer">

                        <!-- checkboxes group activities -->
                    <ng-select formControlName="groupActivities" [multiple]="true" [closeOnSelect]="false" [searchable]="true" (change)="onGroupActivitiesChange($event)" placeholder="Select business activity">
                          <ng-option *ngFor="let option of groupActivitiesOptions" [value]="option.id">{{ option.name }}</ng-option>
                    </ng-select>
                       <!--end of checkboxes group activities -->
                      </div>

                    <div class="matFormInput" *ngIf="showOtherGroupActivities">
                        <h4 class="fs-subtitle radio-button-title">What are other group activities</h4>
                        <input formControlName="othergroupActivites" type="text">
                    </div>
                </div>





                <div class="businessOutCome">
                    <h4 class="fs-subtitle radio-button-title">What positive outcomes or changes do you expect for your business as a beneficiary of Biashara Stimulus Program?</h4>
                    <div class="checkboxContainer">
                         <!-- checkbox box outcomes -->
                <ng-select formControlName="expectations" [multiple]="true" [closeOnSelect]="false" [searchable]="true"  (change)="onExpectationChange($event)" placeholder="Select business outcome">
                    <ng-option *ngFor="let option of businessOutcomeOptions" [value]="option.id">{{ option.name }}</ng-option>
                </ng-select>
                        <!--end of checkboxes business outcome -->
                    </div>
                    <div class="matFormInput" *ngIf="showOtherOutcomeInputs">
                        <h4 class="fs-subtitle radio-button-title">What are other postive outcomes</h4>
                        <input formControlName="otherExpectations" type="text">
                    </div>
                </div>

                <div class="businessComments">
                    <h4 class="fs-subtitle radio-button-title">Do you have any additional comments, suggestions, or concerns regarding Biashara Stimulus program?</h4>
                    <textarea formControlName="comments" name="" id="" cols="10" rows="5"></textarea>
                </div>
                    
            


                
            <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
            <input (click)="onSubmit()" type="submit" name="submit" class="submit action-submit" value="Submit"/>

            </fieldset>

        </form>
    </div>
</div>