/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto,"Helvetica Neue", sans-serif; 
    background: url('./assets/bg-image-two.jpg');
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}


