/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto,"Helvetica Neue", sans-serif; 
    background: url('./assets/bg-image-two.jpg');
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.container{
    max-width: 1140px;
    padding-top: 10px;
   
}

 .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #ff9800 !important;
  }
  
  /* before checked: */
  
   .mat-radio-button.mat-accent .mat-radio-outer-circle {
    border-color: green !important;
  }
   .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: green !important;
  }
  
  /* after checked: */
  
   .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: #ff9800 !important;
  }
   .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-inner-circle {
    background-color: #ff9800 !important;
  }
  
  


